<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Flakesnow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <userSettings>
        <Flakesnow.Properties.Settings>
            <setting name="Reminder1Title" serializeAs="String">
                <value>Reminder</value>
            </setting>
            <setting name="Reminder2Title" serializeAs="String">
                <value>Reminder</value>
            </setting>
            <setting name="Reminder3Title" serializeAs="String">
                <value>Reminder</value>
            </setting>
            <setting name="Reminder4Title" serializeAs="String">
                <value>Reminder</value>
            </setting>
            <setting name="Reminder5Title" serializeAs="String">
                <value>Reminder</value>
            </setting>
            <setting name="Reminder6Title" serializeAs="String">
                <value>Reminder</value>
            </setting>
            <setting name="Reminder1Text" serializeAs="String">
                <value>Type here...</value>
            </setting>
            <setting name="Reminder2Text" serializeAs="String">
                <value>Type here...</value>
            </setting>
            <setting name="Reminder3Text" serializeAs="String">
                <value>Type here...</value>
            </setting>
            <setting name="Reminder4Text" serializeAs="String">
                <value>Type here...</value>
            </setting>
            <setting name="Reminder5Text" serializeAs="String">
                <value>Type here...</value>
            </setting>
            <setting name="Reminder6Text" serializeAs="String">
                <value>Type here...</value>
            </setting>
            <setting name="Reminder1Active" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Reminder2Active" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Reminder3Active" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Reminder4Active" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Reminder5Active" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Reminder6Active" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="changedReminder1Text" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="changedReminder2Text" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="changedReminder3Text" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="changedReminder4Text" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="changedReminder5Text" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="changedReminder6Text" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="changedReminder1Title" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="changedReminder2Title" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="changedReminder3Title" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="changedReminder4Title" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="changedReminder5Title" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="changedReminder6Title" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Timer1Active" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Timer2Active" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Timer3Active" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Timer4Active" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Timer5Active" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Timer6Active" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="targetDateOnTimer1" serializeAs="String">
                <value />
            </setting>
            <setting name="targetDateOnTimer2" serializeAs="String">
                <value />
            </setting>
            <setting name="targetDateOnTimer3" serializeAs="String">
                <value />
            </setting>
            <setting name="targetDateOnTimer4" serializeAs="String">
                <value />
            </setting>
            <setting name="targetDateOnTimer5" serializeAs="String">
                <value />
            </setting>
            <setting name="targetDateOnTimer6" serializeAs="String">
                <value />
            </setting>
            <setting name="Timer1Title" serializeAs="String">
                <value />
            </setting>
            <setting name="Timer2Title" serializeAs="String">
                <value />
            </setting>
            <setting name="Timer3Title" serializeAs="String">
                <value />
            </setting>
            <setting name="Timer4Title" serializeAs="String">
                <value />
            </setting>
            <setting name="Timer5Title" serializeAs="String">
                <value />
            </setting>
            <setting name="Timer6Title" serializeAs="String">
                <value />
            </setting>
            <setting name="celsiusSelected" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Location" serializeAs="String">
                <value />
            </setting>
            <setting name="Name" serializeAs="String">
                <value />
            </setting>
        </Flakesnow.Properties.Settings>
    </userSettings>
</configuration>